* {
    padding: 0;
    margin: 0;

}

.wrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #297fca;
    display: grid;
    place-items: center;
}

.right {
    position: fixed;
    z-index: 2;
    top: -70%;
    right: -50%;
    background: #fff;
    width: 100%;
    height: 100%;
    transform: translateY(50%) rotate(45deg);
}

.box {
    text-align: center;
    width: 25%;
}

.line-1 {
    background-color: #424242;
}

.line-1 p {
    color: white;
    font-size: 2em;
    padding: 0 0 -15px 0;
}

.line-2 {
    display: flex;
    margin-top: -30px;
}

.line-2,
.line-3,
.column-1,
.column-2 {
    padding: 15px 0 0 0;
}


.line-2 .column-1,
.column-2 {
    flex: 1;
    display: grid;
    place-items: center;
}

.line-2 .column-1 {
    background-color: #FBE9E7;
}

.line-2 .column-2 {
    background-color: #B3E5FC;
}

.line-3 .column-1 {
    background-color: #FFAB91;
}

.line-3 .column-2 {
    background-color: #4FC3F7;
}

.line-3 {
    display: flex;
    margin-top: -14px;
}

.line-3 .column-1,
.column-2 {
    flex: 1;
    display: grid;
    place-items: center;
}

.line-4 {
    background-color: white;
    padding: 15px;
}

.line-4 button {
    color: white;
    width: 35%;
}

.line-5 {
    background-color: #673AB7;
}

.line-5 p {
    color: white;
    font-size: 1.3em;
    padding: 10px;
}

span p {
    display: inline-block;
}

#stop,
#clear {
    display: none;
}

button i {
    margin-right: 5px;
}